html { box-sizing: border-box;}

* { padding: 0%;
margin: 0%;
font-family: 'DM Sans', sans-serif;}

body { width: 100%;
    background: white;
    background: rgb(202,78,240);
    background: linear-gradient(180deg, rgba(202,78,240,0.3426412801448705) 0%, rgba(231,23,148,0.24180094401041663) 35%, rgba(255,0,169,0.02891578994879207) 100%);
;}
a { text-decoration: none;
color: black;}

.change:checked ~ ul { display: contents;
    grid-area: ul;
    grid-row: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.change { display: none;}

.icon-menu { float: right;
margin-right: 0.5rem;
margin-top: 1rem;}

.fa-solid { font-size: 2.5rem;}
.navbar {width: 100%;
    height: 20vh;
     display: grid;
grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
grid-area: 'logo ul';
gap: 2rem;}

ul { display: none;}

.navbar li { padding: 1rem;
cursor: grab;}

.logo { grid-column: 1/2;
    margin-top: 1rem;
}
                              /*section*/ 
.inicio { display: grid;}
.conteiner-img-h1 { display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.computer { display: grid;
    grid-column: 1/span 2;
justify-content: center;}

.computer img { width: 90%;
height: 100%;
margin: 1rem;
object-fit: contain;}

.abajo-compu { display: grid;
    grid-column: 1/ span 2;
}

.abajo-compu h1 { font-size: 3rem;
margin: 1rem;}
p { color: gray;
margin: 0 1rem 1rem 1rem;}

button { width: 50%;
height: 3rem;
margin: 0 1rem 1rem 1rem;
background-color: #7104D6;
color: white;
border: none;
border-radius: 0.7rem;
cursor: grab;}

button:hover { background-color: #7104D6;
opacity: 0.2;}

.section { width: 100%;
height: 80vh;}
.users { width: 50%;
    margin: 0 1rem 1rem 1rem;}
span { color: #7104D6;
font-weight: 700;
cursor: grab;}

                /*      feed info */   

.feed-info { grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
width: 100%;
height: 100vh;
justify-content: center;
margin-top: 4rem;}

.feed-info img { width: 100%;
    height: 100%;
    grid-column: 1/span 2;
    object-fit: contain;
    margin: 1rem;
    padding: 1rem;
}

.feed-info2 { grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
width: 100%;
height: 100vh;
justify-content: center;
margin-top: 4rem;
}

.feed-info2 img { width: 100%;
    height: 100%;
    grid-column: 1/span 2;

}

.h2-p-span{ display: grid;
grid-column: 1/ span 2;
height: 40%;
margin-bottom: 7rem;
 }
 .h2-p-span h2 { font-size: 2rem;
    margin: 1rem 1rem 0.2rem 1rem;}
.h2-p-span span {width: 80%;
    height: 3rem;
    margin: 0 1rem 7rem 1rem; }
.h2-p-span p { margin: 0 1rem 0.2rem 1rem;}

.social-media { display: flex;
    justify-content: center;
height: 50%;
margin: 1rem;}

.contact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
width: 100%;
height: 100vh;
justify-content: center;
margin-top: 6rem;}

.texto-footer { display: grid;
    grid-column: 1/ span 2;
    height: 40%; 
margin-top: 10rem;}

.texto-footer h2 { font-size: 2rem;
    margin: 1rem 1rem 0.2rem 1rem;}

.conteiner-about { display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
grid-template-rows: 1fr 1fr;
margin: 2rem 1rem 0rem 1rem;
gap: 1rem;}

.box2, box4 { grid-column: 2 ;}

.si { display: contents;
list-style: none;}
.si li { color: gray;
padding: 0.5rem 0 0.2rem 0;}


@media  screen and (min-width: 376px) {
    .fa-solid, label { display: none;}

    ul { grid-area: ul;
        grid-row: 1;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    margin: 1rem;}  
        .navbar li { font-weight: 700;
            font-size: 1rem;
        }
        .logo img { width: 20%;
        margin: 2rem 0 0 2rem;}

        /* celular*/ 
        .feed-info2 { display: flex;
        width: 100%;
        height: 60vh;}

 .feed-info2 img { width: 100%;
            height: 100%;
        object-fit: contain;
        }
.celular { width: 100%;
        height: 100%;}

 .h2-p-span{ display: flex;
            flex-direction: column;
            margin-right: 3rem; }

.h2-p-span h2 {margin-bottom: 1rem;}
 .h2-p-span span {margin-bottom: 1rem; }
 .h2-p-span p { margin-bottom: 1rem; }  
 /* footer */
 .contact { 
     display: flex;
display: inline-block; }

.texto-footer {width: 30%;
margin-left: 2rem;}

.conteiner-about { left: 3rem;
    bottom: 16rem;
    width: 60%;
position: relative;
float: right;}



/* section      */
.conteiner-img-h1 { grid-template-rows: 1fr;
grid-template-columns: 1.2fr 1fr;
row-gap: 1rem;}
.computer { grid-column: 2/span 2;
margin-top: 2rem;}

.abajo-compu { display: grid;
    grid-column: 1;
    grid-row: 1;
    margin: 6rem 0 0rem 1rem;
    padding: 1rem;
}
.abajo-compu h1 { font-size: 3rem;
width: 100%;}

.section { width: 50%;
    height: 60vh;
    margin-left: 2rem;
}

.feed-info { display: flex;
width: 100%;
height: 60vh;
flex-direction: row-reverse;}

.h2-p-span{ width: 60%;
    height: 40%;
margin-left: 3rem;
    margin-top: 3rem;
     }


.social-media { width: 40%;
    height: 50vh;
    object-fit: contain;
    justify-content: flex-start;
    margin-right: 5rem;
    align-items: self-end;
}
.feed-info img { width: 100%;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
}
}
